/*-- scss:defaults --*/

$body-bg: #23395b !default;
  $body-color: #fff !default;
  $link-color: #CEFDB0 !default;
  $selection-bg: #26351c !default;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}